<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.space.ueditor.mapper.UEditorMapper" >

  <resultMap id="BaseResultMap" type="com.space.ueditor.bo.UEditorBO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="createDate" property="create_date" jdbcType="VARCHAR" />
    <result column="updateDate" property="update_date" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="save" parameterType="com.space.ueditor.bo.UEditorBO"
        useGeneratedKeys="true" keyProperty="id">
    insert into t_ueditor (id, name, type,content,create_date,update_date)
    values (#{id,jdbcType=BIGINT},  #{name,jdbcType=VARCHAR},
    #{type,jdbcType=VARCHAR},#{content,jdbcType=LONGVARCHAR},
    #{createDate,jdbcType=VARCHAR},#{updateDate,jdbcType=VARCHAR})
  </insert>

  <select id="get" resultMap="BaseResultMap">
    select * from t_ueditor
  </select>

</mapper>